@charset "UTF-8";
html {
  font-size: 62.5%;
}

body {
  font-family: "Noto Serif JP", serif;
  color: #99754e;
}

.wrapper {
  width: auto;
  margin: 0 auto;
}

img {
  width: 100%;
}

.inner {
  width: 1100px;
  margin: 0 auto;
}

/*=========== 
ヘッダー
 ===========*/
header {
  background-image: url("/img/mv.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 700px;
  margin-bottom: 155px;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 68px;
  font-family: "Bradley Hand", "Noto Serif JP", serif;
}

header nav ul li {
  font-size: 2.4rem;
  padding: 40px 0 0 66px;
}

header nav ul li:nth-child(1) {
  padding-left: 0px;
}

header nav ul li a {
  color: #99754e;
}

header h1 {
  width: 580px;
  height: 200px;
  margin-top: 170px;
}

header .logo {
  width: 300px;
  height: 130px;
  position: relative;
  left: 75vw;
  top: 16.8vw;
}

/*=========== 
about
 ===========*/
#about .about_grop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#about .about_grop .about-img {
  width: 500px;
  height: 880px;
}

#about .about_grop .about_text {
  width: 482px;
  margin-left: 135px;
}

#about .about_grop .about_text .ttl {
  font-size: 3.6rem;
  line-height: 3;
}

#about .about_grop .about_text .txt {
  font-size: 1.8rem;
  line-height: 1.8;
}

#about .about_grop .about_text .txt p:nth-child(1) {
  margin-bottom: 28px;
}

/*=========== 
Private space
 ===========*/
.ps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-top: 240px;
}

.ps .ps_text {
  width: 500px;
}

.ps .ps_text .ttl {
  font-size: 3.6rem;
  line-height: 3;
}

.ps .ps_text .txt {
  font-size: 1.8rem;
  width: 490px;
  line-height: 1.8;
  margin: 80px 0 150px 0;
}

.ps .ps_text .ps-img02 {
  width: 190px;
  height: 330px;
  position: absolute;
  left: 185px;
  top: 360px;
}

.ps .ps-img01 {
  width: 415px;
  height: 830px;
  margin-left: 185px;
}

/*=========== 
about me
===========*/
#aboutme {
  background-image: url("/img/aboutme__back_parts.png");
  height: 830px;
  margin-top: 200px;
  width: auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

#aboutme h2 {
  padding-bottom: 100px;
}

#aboutme .aboutme-grop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 693px;
}

#aboutme .aboutme-grop .aboutme-text_grop {
  margin-left: 45px;
}

#aboutme .aboutme-grop .aboutme-text_grop .nagami_img {
  width: 290px;
  height: 267px;
  margin-left: 45px;
}

#aboutme .aboutme-grop .aboutme-text_grop .name {
  font-size: 2.8rem;
  margin-bottom: 34px;
}

#aboutme .aboutme-grop .aboutme-text_grop .text {
  font-size: 1.8rem;
  line-height: 1.8;
  width: 369px;
}

/*=========== 
gallery
===========*/
#gallery h2 {
  width: 378px;
  margin: 0 auto;
  padding-bottom: 110px;
}

#gallery .galley-grop {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 85px 75px;
}

/*=========== 
price
===========*/
#price {
  margin-top: 200px;
}

#price h2 {
  width: 378px;
  margin: 0 auto;
  padding-bottom: 110px;
}

#price .price_service {
  width: 960px;
  height: 75px;
  margin-bottom: 50px;
}

#price .btn {
  width: 300px;
  margin: 0 auto;
}

#price .price-grop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  margin: 0 auto;
  width: 960px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#price .price-grop .price-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 50px;
}

#price .price-grop .price-item ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  padding-left: 50px;
}

/*=========== 
access
===========*/
#access {
  margin-top: 170px;
}

#access h2 {
  width: 378px;
  margin: 0 auto;
  padding-bottom: 110px;
}

#access .access-grop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 800px;
  padding-left: 55px;
  font-size: 1.6rem;
}

#access .access-grop .map {
  width: 340px;
  height: 240px;
}

#access .access-grop .text-grop {
  margin-left: 55px;
  width: 410px;
  font-size: 1.6rem;
}

#access .access-grop .text-grop .access-text {
  line-height: 2.5rem;
}

#access .access-grop .text-grop .tel {
  margin: 12px 0 35px 0;
}

#access .access-grop .text-grop .btn_sp {
  width: 155px;
  margin-bottom: 12px;
}

#access .access-grop .text-grop .register {
  position: relative;
  display: inline-block;
  padding-left: 12px;
  text-decoration: none;
}

#access .access-grop .text-grop .register a {
  position: relative;
}

#access .access-grop .text-grop .register:before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 0 6px 8px;
  border-color: transparent transparent transparent #d2857e;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -6px;
}

/*=========== 
footer
===========*/
footer {
  background-color: #fff5f2;
  height: 45px;
  margin-top: 200px;
}

footer .cooyright {
  width: 75px;
  margin: 0 auto;
  font-size: 18px;
  padding-top: 10px;
}
/*# sourceMappingURL=style.css.map */